@import url(./reboot.css);

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;

}

.header .container{
  width: 100%;
}

.header-nav{
  width: max-content;
  margin-left: auto;
}

.header a{
  color: #000;
  font-family: 'Inter', sans-serif;
}

.intro , .policy-title, .contact-title, .agreement-title{
  padding-top: 72px;
  background: linear-gradient(180deg, #34a087 0.14%, #fff 73.27%);
}

.intro .container {
  display: flex;
  align-items: center;
  max-width: 300px;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.intro .phone {
  display: block;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.intro .phone img{
  width: 100%;
}

.container {
  max-width: calc(100% - 8rem);
  margin: 0 auto;
}

.google-play {
  width: 200px;
  margin: 0 auto;
  margin-top: 98px;
}

.google-play img{
  width: 100%;
}

.benefits-title {
  width: calc(100% - 12rem);
  padding: 10px 28px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #bdebff;
  border-radius: 12px;

  color: rgba(0, 0, 0, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 130%;
}

.list-wrapper {
  width: calc(100% - 8rem);
  margin: 0 auto;
  margin-top: 40px;
  padding: 6px 15px 28px 66px;
  background-color: #e3f7ff;
  border-radius: 12px;
}

.list-title {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.80);
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
}
.benefits-item {
  margin-left: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  list-style: decimal;
}



/* POLICY */



.policy-title, .contact-title, .agreement-title{
  display: block;
  margin: 0 auto;
  padding: 100px 0 100px 0;
 font-size: 4.5rem;
 text-align: center;
 font-family: 'Inter', sans-serif;
 font-weight: 700;
}


.policy .title, .agreement .title{
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.policy .descr, .agreement .descr{
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.policy .descr p, .agreement .descr p{
  margin-top: 15px;
}

/* CONTACT */

.contact-body{
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.contact-body .contact{
  flex: 1 0 auto;
}

.contact-info{
  max-width: 38rem;
  width: calc(100% - 4rem);
  padding-top: 8rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
}



.footer{
  margin-top: 100px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
}

.footer .container{
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
}

.footer .copiright{

  font-family: 'Inter', sans-serif;
}

.footer .copiright a{
  color: #000;
}


.footer .policy, .footer .agreement{
  padding: 0;
}

.footer .policy a, .footer .agreement a{
  color: #000;
  font-family: 'Inter', sans-serif;
}



@media (max-width: 991px) {
  .container{
    max-width: 100%;
    padding: 0 10px;
  }
  .benefits-title{
    width: 80%;
    font-size: 16px;
  }
  .list-wrapper{
    width: 90%;
  }
  .list-title{
    font-size: 16px;
  }
  .benefits-item{
    font-size: 14px;
    margin-left: 14px;
  }

  .policy-title, .contact-title, .agreement-title{
    font-size: 2.5rem;
  }
  .contact-info{
    font-size: 16px;
  }
  .policy .title, .agreement .title{
    font-size: 18px;
    margin-top: 35px;
  }
  
  .policy .descr, .agreement .descr{
    font-size: 16px;
    margin-top: 20px;
  }
  
  .policy .descr p, .agreement .descr p{
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
  .intro .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .benefits-title{
    font-size: 14px;
  }
  .list-wrapper{
    padding-left: 30px;
  }
  .list-title{
    font-size: 14px;
  }
  .benefits-item{
    font-size: 12px;
    margin-left: 12px;
  }
  .footer{
    height: auto;
    padding: 20px 0;
  }
  .footer .container{
    flex-direction: column;
  }
  .policy-title, .contact-title, .agreement-title{
    font-size: 2rem;
  }
  .contact-info{
    padding-top: 70px;
  }
  .contact-info{
    width: 100%;
  }
}